body{
    font-family: 'Roboto', sans-serif; 
    font-size: 14;

}
.container {
    background-color: #333;
    color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 3px solid red;

}

.man-aside h2{
    text-align: center;
}
.man-aside h2:hover {
    color: green
}

.man-aside ul{
    list-style: none;
    text-align: center;
    padding: 0
}
.man-aside ul a {
    text-decoration: none;
    color: back;
}

.man-aside ul a:hover{
    color: red;

}
.man-aside ul a:visited{
    color: green;
}
 
/* Formulários */
.main-form {
    padding-left: 20px;
}

.main-form .form-group {
    padding-bottom: 10px;
}